@page
@model cakenuy.Pages.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<!-- This page should not be displayed as it redirects immediately -->
<div class="container text-center py-5">
    <h2>Logging out...</h2>
    <p>Please wait while we log you out.</p>
</div>